
<%= render 'form'%>

<div class="messages">
	<h3>Public Timeline:</h3>
	<ul id="messages">
	<% @messages.reverse.each do |message| %>
	  <%= render 'message', :message => message %>
	<% end %>
	</ul>
</div>

